<div>
  <div>
    <h1>
      <%= @current_user.first_name %>'s progress
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Enter your starting strength
    </h2>

    <form action="/insert_strength_comparison" method="post">
      <div>
        <label for="exercise_box">
          Exercise
        </label>

        <select name="query_exercise_id">
        <% Exercise.all.each do |an_exercise| %>
          <option value="<%= an_exercise.id %>">
            <%= an_exercise.name %>
          </option>
        <% end %>
        </select>
      </div>

      <div>
        <label for="one_rep_max_box">
          One rep max
        </label>

        <input type="text" id="one_rep_max_box" name="query_one_rep_max">
      </div>

      <button>
        Create strength comparison
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Category
        </th>

        <th>
          Exercise
        </th>

        <th>
          One rep max
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>

      </tr>

      <% user_comparison = StrengthComparison.all.where({ :user_id => session.fetch(:user_id) }) %>
      <% user_comparison.each do |a_strength_comparison| %>
      <tr>
        <td>
          <%= a_strength_comparison.id %>
        </td>

        <td>
          <%= a_strength_comparison.exercise.category %>
        </td>

        <td>
          <%= a_strength_comparison.exercise.name %>
        </td>
        
        <td>
          <%= a_strength_comparison.one_rep_max %>
        </td>

        <td>
          <%= time_ago_in_words(a_strength_comparison.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_strength_comparison.updated_at) %> ago
        </td>

        <td>
          <a href="/strength_comparisons/<%= a_strength_comparison.id %>">
            Show details
          </a>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Enter your ending strength
    </h2>

    <form action="/insert_strength_comparison" method="post">
      <div>
        <label for="exercise_box">
          Exercise
        </label>

        <select name="query_exercise_id">
        <% Exercise.all.each do |an_exercise| %>
          <option value="<%= an_exercise.id %>">
            <%= an_exercise.name %>
          </option>
        <% end %>
        </select>
      </div>

      <div>
        <label for="one_rep_max_box">
          One rep max
        </label>

        <input type="text" id="one_rep_max_box" name="query_one_rep_max">
      </div>

      <button>
        Create strength comparison
      </button>
    </form>
  </div>
</div>

<hr>

<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Category
        </th>

        <th>
          Exercise
        </th>

        <th>
          One rep max
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>

      </tr>

      <% user_comparison = StrengthComparison.all.where({ :user_id => session.fetch(:user_id) }) %>
      <% user_comparison.each do |a_strength_comparison| %>
      <tr>
        <td>
          <%= a_strength_comparison.id %>
        </td>

        <td>
          <%= a_strength_comparison.exercise.category %>
        </td>

        <td>
          <%= a_strength_comparison.exercise.name %>
        </td>
        
        <td>
          <%= a_strength_comparison.one_rep_max %>
        </td>

        <td>
          <%= time_ago_in_words(a_strength_comparison.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_strength_comparison.updated_at) %> ago
        </td>

        <td>
          <a href="/strength_comparisons/<%= a_strength_comparison.id %>">
            Show details
          </a>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>


<h1> Strength Comparison </h1>

# enter the starting strength by choosing 3 exercises
  #

<hr>

<div>
  <div>
    <table border="1">
      <tr>
        <th>
        </th>
        <th>
          Excercise
        </th>

        <th>
          1RM
        </th>

        <th>
        </th>
      </tr>

      <tr>
        <th rowspan="1">
          Starting Strength
        </th>

        <th>
          3 - Excercise dropdown menu
        </th>

        <th>
          1RM Value
        </th>

        <th>
          Date
        </th>

      </tr>

      <tr>
        <th rowspan="1">
          Ending Strength
        </th>

        <th>
          3 - Excercise dropdown menu
        </th>

        <th>
          1RM Value
        </th>

        <th>
          Date
        </th>

      </tr>
    </table>
  </div>
</div>

<h2> Display Result <h2>
# automatically populates the end strength with those excercises
