<div>
  <div>
    <h1 class="alert alert-secondary col-md-12" role="alert">
      <%= @current_user.first_name.capitalize %>'s Progress
    </h1>
  </div>
</div>

<hr>

<!-- Starting Strength -->
<div>
  <div>
    <h2 class="alert alert-secondary col-md-12" role="alert">
      Enter your Strength -- <%= Date.today.strftime("%d %B, %Y") %>
    </h2>

    <form action="/insert_strength_comparison" method="post">
      <div>
        <label for="exercise_box">
          Exercise:
        </label>

        <select name="query_exercise_id">
        <% Exercise.all.each do |an_exercise| %>
          <option value="<%= an_exercise.id %>">
            <%= an_exercise.name %>
          </option>
        <% end %>
        </select>

        <label for="one_rep_max_box">
          One Rep Max:
        </label>

        <input type="text" id="one_rep_max_box" name="query_one_rep_max">

        <button class="btn btn-dark">
          Create Strength Comparison
        </button>
      </div>
    </form>
  </div>
</div>

<hr>
<h2 class="alert alert-secondary col-md-12" role="alert"> Beginning Strength </h2>
<hr>
<!-- Starting Strength Table -->
<div>
  <div>
    <table class="table table-bordered align-middle table-hover">
      <tr class="table-dark">
        <th>
          Category
        </th>

        <th>
          Exercise
        </th>

        <th>
          One Rep Max
        </th>

        <th>
          Workout Date
        </th>

        <th>
        </th>

      </tr>

      <% excercises_in_sc = StrengthComparison.all.where({ :user_id => session.fetch(:user_id) }) %>
      <% unique_exercises = excercises_in_sc.uniq{|x| x.exercise_id}%>
      <% unique_exercises.each do |the_exercise|%>
        <% a_strength_comparison = excercises_in_sc.where({:exercise_id => the_exercise.exercise_id}).order({:created_at => :asc}).first %>
      <tr>
        <td>
          <%= a_strength_comparison.exercise.category %>
        </td>

        <td>
          <%= a_strength_comparison.exercise.name %>
        </td>
        
        <td>
          <%= a_strength_comparison.one_rep_max %>
        </td>

        <td>
          <%= a_strength_comparison.updated_at.strftime("%d %B %Y") %> 
        </td>

        <td>
          <a href="/strength_comparisons/<%= a_strength_comparison.id %>">
            Edit Beginning Strength
          </a>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
<h2 class="alert alert-secondary col-md-12" role="alert"> Ending Strength </h2>
<hr>

<!-- Ending Strength Table -->
<div>
  <div>
    <table class="table table-bordered align-middle table-hover">
      <tr class="table-dark">
        <th>
          Category
        </th>

        <th>
          Exercise
        </th>

        <th>
          One Rep Max
        </th>

        <th>
          Workout Date
        </th>

        <th>
        </th>

      </tr>

      <% excercises_in_sc = StrengthComparison.all.where({ :user_id => session.fetch(:user_id) }) %>
      <% unique_exercises = excercises_in_sc.uniq{|x| x.exercise_id}%>
      <% unique_exercises.each do |the_exercise|%>
        <% a_strength_comparison = excercises_in_sc.where({:exercise_id => the_exercise.exercise_id}).order({:created_at => :desc}).first %>
      <tr>
        <td>
          <%= a_strength_comparison.exercise.category %>
        </td>

        <td>
          <%= a_strength_comparison.exercise.name %>
        </td>
        
        <td>
          <%= a_strength_comparison.one_rep_max %>
        </td>

        <td>
          <%= a_strength_comparison.updated_at.strftime("%d %B %Y") %>
        </td>

        <td>
          <a href="/strength_comparisons/<%= a_strength_comparison.id %>">
            Edit Ending Strength
          </a>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
