<div>
  <div>
    <h1>
      <%= @current_user.first_name.capitalize %>'s Daily Trackers
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add Workout Log -- <%= Date.today.strftime("%d %B, %Y") %>
    </h2>

    <form action="/insert_tracker" method="post">
      <div>
        <label for="exercise_box">
          Exercise
        </label>

        <select name="query_exercise_id">
        <% Exercise.all.each do |an_exercise| %>
          <option value="<%= an_exercise.id %>">
            <%= an_exercise.name %>
          </option>
        <% end %>
        </select>

        <label for="sets_box">
          Sets
        </label>

        <input type="text" id="sets_box" name="query_sets">

        <label for="reps_box">
          Reps
        </label>

        <input type="text" id="reps_box" name="query_reps">

        <label for="weight_box">
          Weight
        </label>

        <input type="text" id="weight_box" name="query_weight">

        <button>
          Create Tracker
        </button>
      </div>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Category
        </th>

        <th>
          Exercise
        </th>

        <th>
          Sets
        </th>

        <th>
          Reps
        </th>

        <th>
          Weight
        </th>

        <th>
          Created on
        </th>

        <th>
          Updated on
        </th>

        <th>
        </th>

      </tr>

      <% user_tracker = Tracker.all.where({ :user_id => session.fetch(:user_id) }).order({ :created_at => :desc }) %>
      <% user_tracker.each do |a_tracker| %>
      <tr>
        <td>
          <%= a_tracker.exercise.category %>
        </td>

        <td>
          <%= a_tracker.exercise.name %>
        </td>

        <td>
          <%= a_tracker.sets %>
        </td>

        <td>
          <%= a_tracker.reps %>
        </td>

        <td>
          <%= a_tracker.weight %>
        </td>

        <td>
          <%= a_tracker.created_at.strftime("%d %b %Y") %>
        </td>
        
        <td>
          <%= a_tracker.updated_at.strftime("%d %b %Y") %>
        </td>

        <td>
          <a href="/trackers/<%= a_tracker.id %>">
            Edit details
          </a>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
