<div>
  <div>
    <h1 class="alert alert-secondary col-md-12" role="alert">
      List of all Exercises
    </h1>
  </div>
</div>

<hr>

<% if session.fetch(:user_id) == nil %>
  <a href="/user_sign_in">Sign In</a> / <a href="/user_sign_up">Sign Up</a> to add exercises.
<% else %>
  <div>
    <div>
      <h2 class="alert alert-secondary col-md-12" role="alert">
        Add a new exercise
      </h2>

      <form action="/insert_exercise" method="post">
        <div>
          <label for="category_box">
            Category:
          </label>

          <select name="query_category">
            <option>Push</option>
            <option>Pull</option>
            <option>Legs</option>
          </select>

          <label for="name_box">
            Name:
          </label>

          <input type="text" id="name_box" name="query_name">

          <label for="primary_type_box">
            Primary Muscle Type:
          </label>

          <input type="text" id="primary_type_box" name="query_primary_type">

          <label for="image_box">
            GIF:
          </label>

          <input type="text" id="image_box" name="query_image">

          <label for="description_box">
            Description:
          </label>

          <textarea type="text" id="description_box" name="query_description" rows="3"></textarea>

          <button class="btn btn-dark">
            Create Exercise
          </button>
        </div>
      </form>
    </div>
  </div>
<% end %>

<hr>

<div>
  <div>
    <table class="table table-bordered align-middle table-hover">
      <tr class="table-dark">
        <th>
          Category
        </th>

        <th>
          Name
        </th>

        <th>
          Primary Muscle Type
        </th>

        <th>
          GIF
        </th>

        <th>
          Description
        </th>

        <th>
          Created on
        </th>

        <th>
          Updated on
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_exercises.each do |an_exercise| %>
      <tr>
        <td>
          <%= an_exercise.category %>
        </td>

        <td>
          <%= an_exercise.name %>
        </td>

        <td>
          <%= an_exercise.primary_type %>
        </td>

        <td>
          <img src="<%= an_exercise.image %>" width="200px" height="200px">
        </td>

        <td>
          <%= an_exercise.description %>
        </td>

        <td>
          <%= an_exercise.created_at.strftime("%d %b %Y") %>
        </td>
        
        <td>
          <%= an_exercise.updated_at.strftime("%d %b %Y") %>
        </td>

        <td>
          <a href="/exercises/<%= an_exercise.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
