<div>
  <div>
    <h1>
      List of all exercises
    </h1>
  </div>
</div>

<hr>

# Workout description, gif

<div>
  <div>
    <h2>
      Add a new exercise
    </h2>

    <form action="/insert_exercise" method="post">
      <div>
        <label for="category_box">
          Category
        </label>

        <select name="query_category">
          <option>Push</option>
          <option>Pull</option>
          <option>Legs</option>
        </select>
      </div>

      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <button>
        Create exercise
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Category
        </th>

        <th>
          Name
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_exercises.each do |an_exercise| %>
      <tr>
        <td>
          <%= an_exercise.id %>
        </td>

        <td>
          <%= an_exercise.category %>
        </td>

        <td>
          <%= an_exercise.name %>
        </td>

        <td>
          <%= time_ago_in_words(an_exercise.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_exercise.updated_at) %> ago
        </td>

        <td>
          <a href="/exercises/<%= an_exercise.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
