<div>
  <div>
    <h1>
      Exercise #<%= @the_exercise.id %> details
    </h1>

    <div>
      <div>
        <a href="/exercises">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_exercise/<%= @the_exercise.id %>">
          Delete exercise
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Category
      </dt>
      <dd>
        <%= @the_exercise.category %>
      </dd>

      <dt>
        Name
      </dt>
      <dd>
        <%= @the_exercise.name %>
      </dd>

      <dt>
        Primary Muscle Type
      </dt>
      <dd>
        <%= @the_exercise.primary_type %>
      </dd>

      <dt>
        GIF
      </dt>
      <dd>
        <img src="<%= @the_exercise.image %>">
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_exercise.description %>
      </dd>

      <dt>
        Created on
      </dt>
      <dd>
        <%= @the_exercise.created_at.strftime("%d %b %Y") %>
      </dd>

      <dt>
        Updated on
      </dt>
      <dd>
        <%= @the_exercise.updated_at.strftime("%d %b %Y") %>
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit Exercise
    </h2>

    <form action="/modify_exercise/<%= @the_exercise.id %>"  method="post" >
      <div>
        <label for="category_box">
          Category
        </label>

        <select name="query_category" value="<%= @the_exercise.category %>">
          <option>Push</option>
          <option>Pull</option>
          <option>Legs</option>
        </select>
      </div>

      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_exercise.name %>">
      </div>

      <div>
        <label for="primary_type_box">
          Primary Muscle Type
        </label>

        <input type="text" id="primary_type_box" name="query_primary_type" value="<%= @the_exercise.primary_type %>">
      </div>

      <div>
        <label for="image_box">
          GIF
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_exercise.image %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <textarea type="text" id="description_box" name="query_description" rows="3"><%= @the_exercise.description %></textarea>
      </div>

      <button>
        Update exercise
      </button>
    </form>
  </div>
</div>

<hr>
