<div>
  <div>
    <h1>
      Exercise #<%= @the_exercise.id %> details
    </h1>

    <div>
      <div>
        <a href="/exercises">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_exercise/<%= @the_exercise.id %>">
          Delete exercise
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Category
      </dt>
      <dd>
        <%= @the_exercise.category %>
      </dd>

      <dt>
        Name
      </dt>
      <dd>
        <%= @the_exercise.name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_exercise.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_exercise.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit exercise
    </h2>

    <form action="/modify_exercise/<%= @the_exercise.id %>"  method="post" >
      <div>
        <label for="category_box">
          Category
        </label>

        <input type="text" id="category_box" name="query_category" value="<%= @the_exercise.category %>">
      </div>

      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_exercise.name %>">
      </div>

      <button>
        Update exercise
      </button>
    </form>
  </div>
</div>

<hr>
